.main-layout {
  display: flex;
  background-color: #f9fbfd;
}

main.main-content {
  flex: 1;
  padding: 40px 60px;
}

.main-content h1 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 5px;
}

.message-setting {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.setting1,
.setting2 {
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.setting1 {
  margin-bottom: 20px;
}
.message-setting h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.list1 section,
.list2 section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.list1 section:last-child,
.list2 section:last-child {
  border-bottom: none;
}

.list2 section {
  padding: 18px 10px;
}

.radios label {
  margin-left: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #104e4a;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.btn {
  text-align: right;
  margin-top: 20px;
}

.btn button {
  height: 40px;
  width: 120px;
  border: 2px solid #104e4a;
  border-radius: 10px;
  background-color: transparent;
  color: #104e4a;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #e9eef7;
  font-size: 0.9em;
  color: #666;
}
