#register {
  width: 100vw; // 뷰포트 너비 전체를 차지하게 합니다.
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f7f9fc; // 원하는 배경색
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    min-height: auto;
    margin: 20px;
  }

  .step {
    font-size: 14px;
    text-align: right;
    color: #666;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .subtext {
    font-size: 14px;
    color: #666;
  }

  label {
    display: block;
    font-size: 14px;
    margin: 15px 0 5px;
  }

  .input-group {
    position: relative;
    width: 100%;
  }

  .checkedStatus {
    display: flex;
    align-items: center;
    margin-top: 5px;
    position: relative;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"] {
    width: 100%;
    padding: 12px 48px 12px 12px;
    /* 오른쪽 버튼 공간 확보 */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    /* padding 포함한 width 계산 */
  }

  button.checkBtn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: #4299e1;
    color: #ffffff;
    white-space: nowrap;
    margin-left: auto; /* 버튼을 오른쪽으로 고정 */
  }

  .comment {
    font-size: 14px;
    white-space: nowrap;
    margin-right: auto; /* 남은 공간 밀어냄 */
  }

  .verify-btn,
  .toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 13px;
    cursor: pointer;
  }

  .verify-btn {
    color: #3483fa;
    font-weight: bold;
  }

  .toggle-btn::after {
    content: "👁️";
    font-size: 16px;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .btns button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }

  .btn-prev {
    background-color: #f1f1f1;
    color: #333;
  }

  .btn-next {
    background-color: #3483fa;
    color: white;
  }

  .btn-next:disabled {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
  }
}
