/* 좌측 사이드바 스타일 */
.sidebar {
  width: 200px;
  background-color: #f1f5fa;
  padding: 20px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  color: #e63946;
  font-size: 16px;
  margin-bottom: 20px;
}

.sidebar .section-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #999;
}

.sidebar li {
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
}

.sidebar li:hover {
  color: #e63946;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
