/* 메인 */
.main-layout {
  display: flex;
  background-color: #f9fbfd;
}

main.main-content {
  flex: 1;
  padding: 40px 60px;
}

.notification h3 {
  padding: 10px;
  margin: 30px 0 10px 0;
  font-weight: 500;
}

.notification section {
  padding: 20px;
  border-bottom: 1px solid #dfdfdf;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting1 div,
.setting2 div {
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.setting1 div {
}

.setting2 div {
}

.list1 section {
}

.list1 section:nth-last-child(1),
.list2 section:nth-last-child(1) {
  border: none;
}

.list2 section {
}

/* On/Off 스위치 디자인 */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #104e4a;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* SAVE 버튼 디자인 */
.btn {
  text-align: right;
}

.btn button {
  height: 40px;
  width: 120px;
  margin: 40px 5px 0 0;
  border: 3px solid #104e4a;
  border-radius: 10px;
  background-color: transparent;
  color: #104e4a;
}
