#project-container {
  .main-layout {
    display: flex;
    background-color: #f9fbfd;
  }

  main.main-content {
    flex: 1;
    padding: 40px 60px;
  }

  .main-content h1 {
    margin-bottom: 20px;
    font-size: 1.4rem;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
  }

  .board-setting {
    display: flex;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    padding: 30px;
  }

  .board {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .head p {
    margin: 0;
    color: #333;
  }

  .head button {
    width: 80px;
    height: 30px;
    border: none;
    background-color: #104e4a;
    cursor: pointer;
    color: white;
    font-weight: 500;
  }

  .body {
    overflow-x: auto;
  }

  .body table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }

  .body th,
  .body td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    font-size: 0.95rem;
  }

  .body th {
    background-color: #3a64b1;
    color: white;
  }

  .body td {
    background-color: #fafbfc;
  }
}
