<aside class="sidebar">
    <div>
        <div class="section-title">SETTINGS</div>
        <ul>
            <li><a href="/admin/profile.html">👤프로필</a></li>
            <li><a href="/admin/page.html">📄페이지</a></li>
            <li><a href="/admin/message.html">💬메시지</a></li>
            <li><a href="/admin/calendar.html">📅캘린더</a></li>
            <li><a href="/admin/project.html">📁프로젝트</a></li>
            <li><a href="/admin/drive.html">🗂️드라이브</a></li>
            <li><a href="/admin/board.html">📝게시판</a></li>
            <li><a href="/admin/plan.html">💳요금제</a></li>
        </ul>
    </div>
</aside>