body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.container {
  width: 400px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.step {
  font-size: 14px;
  text-align: right;
  color: #666;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.subtext {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 14px;
  margin: 15px 0 5px;
}

.input-group {
  position: relative;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 48px 12px 12px;
  /* 오른쪽 버튼 공간 확보 */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  /* padding 포함한 width 계산 */
}

.verify-btn,
.toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.verify-btn {
  color: #3483fa;
  font-weight: bold;
}

.toggle-btn::after {
  content: "👁️";
  font-size: 16px;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btns button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.btn-prev {
  background-color: #f1f1f1;
  color: #333;
}

.btn-next {
  background-color: #3483fa;
  color: white;
}

.btn-next:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}
